body{
    margin:0px;
}

/* BODY header */
#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg");
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    padding: 1.2rem;

}

/* Horizonatl List css */
.horizontal-list{
   list-style: none;
   padding-left: 0px;
   margin:0px;
    
}

.horizontal-list li {
    display: inline-block;
    margin:0px 10px 8px 0px;
    font-weight: 100;
    font-size: 1.3rem;
 
    
    
}
.horizontal-list li a{
    color:white;
    text-decoration: none;
}

.nav-items li a{
    transition: color  0.5s ; border-bottom: 4s;
}
.nav-items li a:hover{       
    color:rgb(26, 26, 204);
    border-bottom: 1px solid rgb(0, 0, 0);
}

/* if any html code wr have to center we will use .yext center class */
.text-center{
    text-align:center;
}
#name-social-container {   /*  used to center name */
    margin-top: 20vh;
  }

#name{
    color:white;
    font-size:3rem;
    line-height: 50px;
    letter-spacing: 0.1rem;

}
 /* .social-icons li {
    margin:0px 20px 10px 0px
 } */
.social-icons li a i{
    padding: 10px;
    font-size:1rem;
    border-radius: 50%;  /*if this rule is not given at time we hover a outline SQUARE will appear*/
}
.social-icons li a i:hover{
    color:pink;
    /* offset-x | offset-y | blur-radius | spread-radius | color 
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

#about {
    height: auto;
    width: 100%;
    position: relative;
  }

#about p {
    color: grey;
    font-size: 1.2rem;
    
    margin-left: 60px;
    margin-right: 60px;
    text-align: justify;
}
/* #my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -6rem;
} */
#my-image ,img{      /* -141.5px;separated by comma bwithout comma not working */
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-top: -10rem;
    border: 1px solid white;
    margin-left: 40%;
    box-shadow: 0px 0px 6px 4px lightgrey
  
}



/* Skills css section */

#Skills{
    height: 50vh;
    width:100%;
    background-color: #9e9b9b29;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.section-heading{
    color:rgb(109, 109, 243);
    font-size:40px;
    margin:48px 12px 12px 8px;
}
/* .section-heading span{
    display: inline-block;
} */

.all-skills{
    width: 75%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin:84px;
}
#random{
    display: flex;    /* This display is used to align down the "PYTHON"and other ..
                      ...> skills name to down because top-margin was not working there by using flex top margin will work*/ 
} 
.skill-name {
    color:white;
    font-size:1rem;
    margin-left:10px;
    margin-top:10px;
  
 
}

.skill-display{
    background-color:rgb(198, 189, 189);
    height:30px;
    width:11rem;
    border-radius:20px;
    margin-bottom:30px;  /*this is to have spaces between two dispkay below*/
    /* box-shadow: 3px 3px 6px 2px rgb(181, 197, 4); */
    margin-right:20px;
    margin-left:20px;
    box-shadow: -2px 2px 10px 2px ;
    overflow:hidden;
   
    

}
.skill-progress{
    background-color:rgb(199 199 20);
    height:30px;
    width:9rem;
    border-radius:20px;
    box-shadow: 1px 1px 3px 1px rgb(181, 197, 4);

}

.skill-progress_HTML{
    background-color:rgb(156, 103, 5);
    height:30px;
    width:9rem;
    border-radius:20px;
    box-shadow: 1px 1px 3px 1px rgb(156, 103, 5);

}.skill-progress_CSS{
    background-color:rgb(11, 11, 132);
    height:30px;
    width:7rem;
    border-radius:20px;
    box-shadow: 1px 1px 3px 1px rgb(11, 11, 132);
    /* overflow-y:hidden; */
}

.skill-progress_JS{
    background-color:rgb(8 136 8);
    height:30px;
    width:6rem;
    border-radius:20px;
    box-shadow: 1px 1px 3px 0.5px rgb(8 136 8);
}
.skill-progress_SQL{
    background-color:rgb(5, 111, 111);
    height:30px;
    width:6rem;
    border-radius:20px;
    
    box-shadow: 1px 1px 3px 0.5px rgb(5, 111, 111);
    

}

.skill-progress_django{
    background-color:rgb(180, 68, 68);
    height:30px;
    width:6rem;
    border-radius:20px;
    box-shadow: 1px 1px 3px 0.5px rgb(180, 68, 68);
}